#origami .ui-li-aside {
	width: 80px;
}
#origami .ui-li-heading {
	font-size: 12px;
	letter-spacing: 0px;
}
#origami .ui-li-desc {
	font-size: 10px;
	margin-left: -27px;
}
#origami .ui-li-static {
	padding-left: 35px;
	padding-right: 7px;
}
#origami .ui-li-icon {
	max-height: 27px;
	max-width: 27px;
	left: 7px;
}
#origami .ui-footer p {
	font-size: 12px;
	text-align: center;
}
#origami .ui-btn-inner {
	padding-right: 0;
}
#origami input.origami-count {
	position: absolute;
	top: 11px;
	right: 87px;
	color: orange;
	width: 40px;
	text-align: center;
	font-weight: bold;
}
#origami .origami-highlight {
	font-weight: bold;
	font-size: 20px;
}